.app-loader-global,
.app-loader-local {
  background: rgba($grey-lightest, 0.4);
}

.app-loader-global {
  z-index: 3;
  position: fixed;
}

.app-loader-local {
  z-index: 2;
  position: absolute;
}

.app-loader {
  border-left-color: $link;
  border-bottom-color: $link;
}
