.grass {
  background: #9bcc50 !important;
}

.poison {
  background: #b97fc9 !important;
}

.fire {
  background: #fd7d24 !important;
}

.flying {
  background: #3dc7ef !important;
}

.water {
  background: #4592c4 !important;
}

.bug {
  background: #729f3f !important;
}

.normal {
  background: #a4acaf !important;
}
