/**
 * Add new viewport helpers
 */
.is-full-width {
  width: 100vw;
}

.is-full-height {
  height: 100vh;
}

/**
 * Extend default Flexbox helpers
 */
.is-flex-gap-0 {
  gap: 0;
}

.is-flex-gap-1 {
  gap: 0.25rem;
}

.is-flex-gap-2 {
  gap: 0.5rem;
}

.is-flex-gap-3 {
  gap: 0.75rem;
}

.is-flex-gap-4 {
  gap: 1rem;
}

.is-flex-gap-5 {
  gap: 1.5rem;
}

.is-flex-gap-6 {
  gap: 3rem;
}
